<div class="card card-button-view mt-2">
    <div class='card-body'>
        <div class="row right-align">
            <div class='px-0 mb-0 col-xl-8 col-lg-8 col-md-12 col-sm-12'>
                <label [hidden]="disabled">Configuration changed! Press "Apply" to continue.</label>
            </div>

            <div class="pr-0 mb-0 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <button type="button" class="btn btn-fixed-width button-default" (click)="dataCancel()" [disabled]="disabled">Cancel</button>
                <button type="button" class="btn btn-fixed-width button-default" (click)="dataApply()" [disabled]="disabled">Apply</button>
            </div>
        </div>
    </div>
</div>
