@import "../../../styles/common.less";
.card-button-view {
    margin: 1em;
    border-width: 0em;
    background: @card-background;
    box-shadow: none;

    .card-body {
        padding: 0em;
    }

    label {
        color: #ED5565;
        font-weight: 400;
    }
}
