<app-fieldbody [title]='title' [nocase]='isNocase'>
    <!-- атрибут [attr.data-bs-target] нужен для связи с модальным окном, которое появляется при нажатии на кнопку -->
    <!-- модальные окна "висят" всё время -->
    <button
        type="button"
        class="btn button-default btn-fixed-width"
        data-bs-toggle="modal"
        [attr.data-bs-target]="'#'+name"
    >
        {{button}}
    </button>

    <div class="modal fade" [id]="name" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- содержимое диалогового окна -->
                    <ng-content></ng-content>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn button-default btn-fixed-width"
                        data-bs-dismiss="modal"
                        (click)="clickOk()"
                    >
                        OK
                    </button>
                    <!-- [hidden] скрывает кнопку Cancel -->
                    <button
                        type="button"
                        class="btn button-default btn-fixed-width"
                        data-bs-dismiss="modal"
                        [hidden]='hideCancel'
                        (click)="clickCancel()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</app-fieldbody>
