<div class="wrapper">

        <!-- Через [className] убираем sidebar -->
        <nav id="sidebar" [className]="isCollapsed?'active' : ''">
            <div class="sidebar-header pb-0">
                <!-- имя устройства -->
                <h5>{{modelStr}}</h5>
            </div>

            <!-- Данные в переменной data -->
            <ul class="list-unstyled components">
                <li *ngFor="let item of data; let i = index" routerLinkActive="active">
                    <a [routerLink]="item.link" data-toggle='collapse' aria-expanded="false" (click)='isCollapsed=!isCollapsed'>
                        <i [ngClass]=item.icon class="fas fa-fw"></i> <span>{{item.label}}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <!-- Верхний sidebar для мобильной версии -->
            <nav class="navbar navbar-expand-lg d-md-none">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn navbar-btn" (click)='isCollapsed=!isCollapsed'>
                        <i class="fas fa-bars"></i>
                    </button>

                </div>
            </nav>

            <ng-content></ng-content>
        </div>
</div>
