<app-view [data]='wsData.sidebarRoutes' [modelStr]='wsData.modelStr'>
    <form #settingsForm="ngForm" class='row display-flex'>
        <app-setcancelwide (apply)='sendForm()' (cancel)="resetForm()" [disabled]="settingsForm.pristine"></app-setcancelwide>
        <app-panel title='Form'>
                <app-inputfield
                    title='String'
                    [(ngModel)]='settingsData.value'
                    name='value'
                    [disabled]='disabled'
                    [hidden]='hidden'
                    >
                </app-inputfield>

                <app-inputfield
                    title='Integer'
                    type='number'
                    min=-5
                    max=5
                    [(ngModel)]='settingsData.valueint'
                    name='valueint'
                    [disabled]='disabled'
                    [hidden]='hidden'
                >
                </app-inputfield>

                <app-inputfield
                    title='String display'
                    [(ngModel)]='settingsData.value'
                    name='value2'
                    readonly
                    [hidden]='hidden'
                    >
                </app-inputfield>

                <app-selectfield title='Select'
                    [(ngModel)]="settingsData.valueselect"
                    name="valueselect"
                    [disabled]='disabled'
                    [hidden]='hidden'
                >
                    <!-- компонент смотрит не на порядок options, а на значение [value] -->
                    <option [value]="0">Disabled</option>
                    <option [value]="1">Enabled</option>
                </app-selectfield>

                <app-fieldbody title='Checkbox' [hidden]='hidden'>
                    <app-checkbox
                        title="Checkbox"
                        name="checkbox1"
                        [(ngModel)]="settingsData.valuecheckbox"
                        [disabled]='disabled'
                    ></app-checkbox>
                </app-fieldbody>

                <!-- hr может иметь свой title -->
                <app-panelhr [hidden]='hidden' title="panel hr"></app-panelhr>

                <app-buttongroup
                    title='Button group'
                    [buttons]='["A", "B"]'
                    name='valuebutton'
                    [(ngModel)]='settingsData.valuebutton'
                    [disabled]='disabled'
                    [hidden]='hidden'
                >
                </app-buttongroup>
                <app-timezone
                    title='Timezone'
                    [(ngModel)]='settingsData.timeZone'
                    name='timeZone'
                    [disabled]='disabled'
                    [hidden]='hidden'
                >
                </app-timezone>
                <app-fieldbody
                    title="Field body"
                    [hidden]='hidden'
                >
                    <i class="fa fa-times-circle"></i>
                </app-fieldbody>
                <!-- если не требуется реакция на кнопку Cancel, то (cancel) можно не вызывать -->
                <app-modal
                    title='Modal'
                    name='modal'
                    button='Open'
                    (ok)='modalOk()'
                    (cancel)='modalCancel()'
                >
                <!-- содержимое модального окна (м.б. любым), в т.ч. и вложенный компонент  -->
                    Factory reset?
                </app-modal>
                <!-- hideCancel скрывает кнопку Cancel -->
                <app-modal
                    title='OK'
                    name='modal2'
                    button='Open2'
                    hideCancel='true'
                >
                    Test2
                </app-modal>
                <app-fieldbody title='Button'>
                    <button class="btn button-default btn-fixed-width" type="button" (click)='setButton()' [disabled]="disabled">Set</button>
                </app-fieldbody>
                <app-setcancelbutton (apply)='sendForm()' (cancel)="resetForm()" [disabled]="settingsForm.pristine"></app-setcancelbutton>
        </app-panel>
        <app-panel title='Attributes'>
            <app-selectfield title='Disabled'
                [(ngModel)]='disabled'
                name="disabled"
            >
                <option [value]="0">Enabled</option>
                <option [value]="1">Disabled</option>
            </app-selectfield>
            <app-selectfield title='Hidden'
                [(ngModel)]='hidden'
                name="hidden"
            >
                <option [value]="0">Visible</option>
                <option [value]="1">Hidden</option>
            </app-selectfield>
        </app-panel>

        <app-panel title='Stack 1' stack=3>
            <app-inputfield
                title='String display'
                [(ngModel)]='settingsData.value'
                name='value2'
                readonly
                [hidden]='hidden'
            >
            </app-inputfield>
        </app-panel>
        <app-panel title='Stack 2' stack=3>
            <app-inputfield
                title='String display'
                [(ngModel)]='settingsData.value'
                name='value2'
                readonly
                [hidden]='hidden'
            >
            </app-inputfield>
        </app-panel>
        <app-panel title='Stack 3' stack=3>
            <app-inputfield
                title='String display'
                [(ngModel)]='settingsData.value'
                name='value2'
                readonly
                [hidden]='hidden'
            >
            </app-inputfield>
        </app-panel>
    </form>
</app-view>
